html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  font-family: 'Roboto', sans-serif;
}

body {
  display: block;
  /* Additional styling to ensure full screen coverage */
  box-sizing: border-box;
}

#root {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #08112C;
  color: aliceblue;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  flex-grow: 1;
  width: 90%;
  overflow-y: auto;
  padding: 0 2rem;
}

main a {
  color: #700;
}