footer {
  width: 100%;
  background-size: cover; /* Cover the entire header area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  height: 6rem;
  
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  
  text-align: center;
  vertical-align: middle;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer span {
  background-color: #0009;
  padding: 0.5rem 1.0rem;
  border-radius: 2rem;
}