header {
  width: 100%;
  
  background-size: cover; /* Cover the entire header area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  
  padding: 2rem;
  height: 5rem;
}


header a {
  text-decoration: none;
  color: aliceblue;
}

header h1 {
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 1),
    4px 4px 3px rgba(0, 0, 0, 0.67);
  font-size: 3rem;
}